h1 {
    color:red;
    font-family: 'Roboto Mono', monospace;
}

body{
    clear: both;
    width: 100%;
    bottom:0;
    background-color: blue;
    position: absolute;
    background-color: blue;
}
